
.md-header {
    background-color: #232f3e !important;
    border-bottom: 1px solid #1b2532 !important;
}

.md-tabs {
    background-image: url(../assets/images/second-nav-blue.png);
    background-color: #1f4e79 !important;
}

.md-tabs__item {
    margin-right: 15px;
}

.md-content__icon {
    display: none;
}

.md-footer-nav {
    background-image: url(../assets/images/second-nav-blue.png);
    background-color: #1f4e79 !important;
}

.md-footer-meta {
    background-color: #232f3e !important;
    border-top: 1px solid #1b2532 !important;
}
