
.md-header {
    background-color: #232f3e !important;
    border-bottom: 1px solid #1b2532 !important;
}

@media only screen and (max-width: 76.1875em) {

    html .md-nav--primary .md-nav__title--site {
        background-color: #232f3e !important;
        border-bottom: 1px solid #1b2532 !important;
    }

    .md-nav__source {
        background-color: #1f4e79 !important;
    }

    html .md-nav--primary .md-nav__title {
        background-color: #232f3e !important;
        border-bottom: 1px solid #1b2532 !important;
        color: #ffffff;
    }

}

.md-tabs {
    background-image: url(../assets/images/second-nav-blue.png);
    background-color: #1f4e79 !important;
}

.md-tabs__item {
    margin-right: 15px;
}

.md-content__icon {
    display: none;
}

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #6c6c6c !important;
    font-size: 1.5rem;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: 1.4rem;
}

.md-footer-nav {
    background-image: url(../assets/images/second-nav-blue.png);
    background-color: #1f4e79 !important;
}

.md-footer-meta {
    background-color: #232f3e !important;
    border-top: 1px solid #1b2532 !important;
}
